@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

input.date {
  border-radius: 10px;
  width: 36vh;
  height: auto;
  transition: all ease 400ms;
  box-shadow: 0px 0px 1px 1px Violet;
}

input.date:hover {
  box-shadow: 0px 0px 5px 5px Violet;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="date"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 8px;
  padding: 10px;
  width: 100%;
  font-weight: 100;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.form-date {
  position: relative;
}
.form-date:after {
  z-index: -1;
  content: "📅";
  display: block;
  font-size: 2rem;
  color: STEELBLUE;
  background: none;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 13px;
  right: -7px;
}

.enchilada::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.enchilada,
.enchilada:focus {
  background: rgba(0, 0, 0, 0);
}

::-webkit-datetime-edit {
  padding: 0.2em;
  font-size: 2rem;
}

::-webkit-datetime-edit-fields-wrapper {
  background: #f0eabd;
  border-radius: 10px;
  padding: 7px;
}
::-webkit-datetime-edit-text {
  color: silver;
  padding: 0 0.6em;
}
::-webkit-datetime-edit-day-field {
  color: DeepPink;
}
::-webkit-datetime-edit-month-field {
  color: LimeGreen;
}

::-webkit-datetime-edit-year-field {
  color: MediumSlateBlue;
}
::-webkit-inner-spin-button {
  opacity: 1;
  font-size: 2rem;
  margin-top: 5px;
}
::-webkit-calendar-picker-indicator {
  background: DarkSlateGray;
  color: Cornsilk;
  opacity: 1;
  font-size: 1.5rem;
  transition: all ease 400ms;
  transform: scale(1);
  margin-left: 5px;
}
::-webkit-calendar-picker-indicator:hover {
  background: Teal;
  color: Cyan;
  transform: scale(1.2);
  cursor: pointer;
}
input::-webkit-datetime-edit-year-field[enabled] {
  font-size: 5rem;
}

input::-webkit-datetime-edit {
  background: PALEVIOLETRED;
  border-radius: 10px;
}

input::-webkit-datetime-edit-hour-field {
  background: AQUAMARINE;
}
input::-webkit-datetime-edit-millisecond-field {
  background: AQUAMARINE;
}
input::-webkit-datetime-edit-minute-field {
  background: AQUAMARINE;
}

input::-webkit-datetime-edit-week-field {
  background: AQUAMARINE;
}
